<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.sdk.health.data" >

    <uses-sdk android:minSdkVersion="29" />

    <queries>
        <package android:name="com.sec.android.app.shealth" />
        <package android:name="com.samsung.android.wear.shealth" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>